<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
 <section>
 <div class="container mt-5">
   <div class="d-flex justify-content-center mt-5">
     <h1>Welcome To Our Blog Site.</h1>
   </div>
   <div class="d-flex justify-content-center mt-5">
    <strong><h5> All blogs are here. Do you want to see our blog list and blog content ? If it is yes then <a href="/blog_list">click</a> here.</h5></strong>
   </div>
   <div class="d-flex justify-content-center mt-5">
    <strong><h5> Do you want to post..?. If it is yes then <a href="/blog">click</a> here for blog post</h5></strong>
   </div>
 </div>
 </section>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>